# macOS
.DS_Store

# VS Code
.vscode/

# Node.js
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
dist/
build/

# Environment variables
.env

# Backup or temporary files
*.bak
*.tmp
*.swp
